{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block extrastyles %}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}
{% block body %}
<section>
    <div class="invalid{% if not error %} hidden{% endif %}">Identifiants incorrects</div>
    
    <div class="login-form-box">
        <form method="post">
            <h2>Connexion</h2>
            <div class="row">
                <div class="inputbox">
                    <input type="text" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" placeholder=" " required autofocus>
                    <label for="inputEmail">Identifiant</label>
                </div>
            </div>
            <div class="row">
                <div class="inputbox">
                    <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" placeholder=" " required>
                    <label for="inputPassword">Mot de passe</label>
                </div>
            </div>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}">

            <div class="options">   
                <div class="cb">
                    <input type="checkbox" name="_remember_me" id="cb">
                    <label for="cb">Se souvenir</label>
                </div>
                <a href="{{ path("app_forgot_password_request") }}">Mot de passe oublié</a>
            </div>
            <div class="row-button">
                <button class="btn" type="submit">
                    Connexion
                </button>
            </div>
        </form>
    </div>
</section>
{% endblock %}
