.btn {
    display: inline-grid;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    background-color: var(--color4);
    border-radius: 50px;
    font-weight: 600;
    margin-top: 20px;
    color: white;
    text-decoration: none;
}

.btn:hover {
    background-color: var(--color3);
}
