{% extends 'base.html.twig' %}

{% block title %}Create a trip{% endblock %}
{% block body %}
    <div>
        {{ form_start(TripForm) }}

        {{ form_widget(TripForm) }}
        {{ form_widget(TripForm.duration) }} minutes

        <button type="submit">Enregistrer</button>
        <button type="submit">Publier la sortie</button>
        <button type="submit">Annuler</button>

        {{ form_end(TripForm)}}
    </div>
{% endblock %}
